.navbarbg{
  background-color: black;
  color:white;
}
.home{
  background-color: rgb(32, 32, 32);
  color:white
}
.home2{
  background-color: white;
  color:rgb(32, 32, 32)
}
.bcolor{
  background-color: rgb(32, 32, 32);
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}
